#root {
  text-align: center;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: var(--fuentePrimaria);
}

:root {
  --fuentePrimaria: 'Montserrat', sans-serif;
  --fuenteSecundaria: 'Rosario', sans-serif;
  --fuenteTerciaria: 'Martel Sans', sans-serif;
  --colorPrim: #f2f0f0;
  --colorSec: #f9b007;
  --colorTer: #37aac6;
  --colorCuar: #B80000;
  --colorQuin: #820300;
}