#root {
  text-align: center;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: var(--fuentePrimaria);
}

:root {
  --fuentePrimaria: 'Montserrat', sans-serif;
  --fuenteSecundaria: 'Rosario', sans-serif;
  --fuenteTerciaria: 'Martel Sans', sans-serif;
  --colorPrim: #5F8670;
  --colorSec: #FF9800;
  --colorTer: #81b29a;
  --colorCuar: #B80000;
  --colorQuin: #820300;
}